[submodule "data/chiseids"]
	path = data/chiseids
	url = git@gitlab.com:jpndium/data-chiseids.git
[submodule "data/chiseidsdep"]
	path = data/chiseidsdep
	url = git@gitlab.com:jpndium/data-chiseidsdep.git
[submodule "data/jmdict"]
	path = data/jmdict
	url = git@gitlab.com:jpndium/data-jmdict.git
[submodule "data/jmdictdep"]
	path = data/jmdictdep
	url = git@gitlab.com:jpndium/data-jmdictdep.git
[submodule "data/jmnedict"]
	path = data/jmnedict
	url = git@gitlab.com:jpndium/data-jmnedict.git
[submodule "data/kanjidic"]
	path = data/kanjidic
	url = git@gitlab.com:jpndium/data-kanjidic.git
[submodule "data/kanjidicdep"]
	path = data/kanjidicdep
	url = git@gitlab.com:jpndium/data-kanjidicdep.git
