[submodule "data/chiseids"]
	path = data/chiseids
	url = git@gitlab.com:jpnd/data-chiseids.git
[submodule "data/jmdict"]
	path = data/jmdict
	url = git@gitlab.com:jpnd/data-jmdict.git
[submodule "data/jmnedict"]
	path = data/jmnedict
	url = git@gitlab.com:jpnd/data-jmnedict.git
[submodule "data/kanjidep"]
	path = data/kanjidep
	url = git@gitlab.com:jpnd/data-kanjidep.git
[submodule "data/kanjidic"]
	path = data/kanjidic
	url = git@gitlab.com:jpnd/data-kanjidic.git
[submodule "data/kanjidicdep"]
	path = data/kanjidicdep
	url = git@gitlab.com:jpnd/data-kanjidicdep.git
