[pipenv]
sort_pipfile = true

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sudachidict-core = "*"
sudachipy = "*"

[dev-packages]
ipython = "*"
ruff = "*"

[requires]
